*{
  margin: 0;
  pad: 0;
}

body{
  font-family: Robot, sans-serif;
  font-size: 30px;
}

.App{
  height:100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("./images/table.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size:cover ;
}

.contenedor{
  background-color: rgb(79, 81, 112);
  border-radius: 5px;
  padding: 15px;
}

.fila{
  display: flex;
  align-items: center;
  justify-content: center;
}